<link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
<script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
